body {
    background-color: rgba(211, 211, 211, 0.5);
}

.dot {
    width: 105px;
    height: 105px;
    line-height: 100px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    border: white solid 5px;
}

.gridlogos{
    display: grid;
    grid-template-columns:200px 250px;
    grid-auto-rows: minmax(150px, auto);
    grid-gap:20px;
}

.icons {
    display: inline-table;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.iconscontent {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
}


.noMargin {
    margin: 1em;
}

.pictureborder{
    border: lightgrey solid .5em;
}

.redcircle{
    background-color: #e6563b;
    /*margin-right: 5px;*/
}

.orangecircle{
    background-color: #eb9d3a;
}

.greencircle{
    background-color: #7cb06c;
}

.bluecircle{
    background-color: #00aba9;
}

#fa-circle{
    background-color: #e6563b;
}

.item{
    width:200px;
    text-align:center;
    display:block;
    background-color: transparent;
    border: 1px solid transparent;
    margin-right: 10px;
    margin-bottom: 1px;
    float:left;
}