.dot {
    width: 105px;
    height: 105px;
    line-height: 100px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-align: center;

}
.row {
    display: flex;
    justify-content: center;
}

.row div {
    border: white solid 5px;
}

.noMargin {
    margin: 1em;

}

#redcircle{
    background-color: #e6563b;
}

#orangecircle{
    background-color: #eb9d3a;
}

#greencircle{
    background-color: #7cb06c;
}

#bluecircle{
    background-color: #00aba9;
}