body{
    background-color: rgba(211, 211, 211, 0.5);
}

.navbar {
    background-color: rgba(211, 211, 211, 0.5);
}

.dot {
    width: 105px;
    height: 105px;
    line-height: 100px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    border: white solid 5px;
}

.borderimage{
    border: rgba(128, 128, 128, 0.5) solid .5em;
}

.icons {
    display: inline-table;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.iconscontent {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
}


.noMargin {
    margin: 1em;
}

.pictureborder{
    border: lightgrey solid .5em;
}

.redcircle{
    background-color: #e6563b;
    /*margin-right: 5px;*/
}

.orangecircle{
    background-color: #eb9d3a;
}

.greencircle{
    background-color: #7cb06c;
}

.bluecircle{
    background-color: #00aba9;
}

#fa-circle{
    background-color: #e6563b;
}

@media (max-width: 767.98px) { hr { visibility: hidden; } }

.border{
    border: deeppink solid 2px;
}